<div class="sec-calendar" ng-init="ctrl._initBody()">
  <div class="row" ng-repeat="y in ctrl.cal.years | filter:{ id: ctrl.currentYear} track by $index">
    <div class="col-xs-12">

      <div class="page-header sec-year">
        <h2 class="text-center">
          <button type="button" class="btn btn-default pull-left" ng-click="ctrl.prevYear()">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </button>
          {{y.id}}
          <button type="button" class="btn btn-default pull-right" ng-click="ctrl.nextYear()">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </button>
        </h2>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 sec-month" ng-repeat="m in y.months track by $index">
          <h3>{{ctrl.names.months[$index].name}}</h3>
          <table class="table table-hover table-condensed">
            <tr class="active">
              <th class="col-xs-1 text-center" ng-repeat="day in ctrl.names.days track by $index">
                {{day.short}}
              </th>
            </tr>
            <tr ng-repeat="w in ctrl.names.weeks track by $index">
              <td class="col-xs-1 text-center sec-day"
                  ng-repeat="d in m.dates | filter:{ week: $index } track by $index"
                  ng-class="ctrl.hasEvent(d)?'danger':''"
                  uib-tooltip="{{ctrl.hasEvent(d)?ctrl.eventOn(d).name:''}}"
                  tooltip-append-to-body="true">
                {{d.getDate()}}
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
<!--
None (auto)	750px	970px	1170px
Class prefix	.col-xs-	.col-sm-	.col-md-	.col-lg-
-->
